<div class="row wrapper" style="margin-right: 0; margin-top: 20px;">
    <div class="col-xs-12">
        <form #addCategoryForm="ngForm" (ngSubmit)="onSubmit(addCategoryForm)">
            <div class="form-group montserrat-medium">
                <label for="name">Category Name</label>
                <input id="name" class="form-control" ngModel name="name" required />
            </div>
            <div style="text-align: center;">
                <button type="button" class="btn-manage btn montserrat-medium" (click)="imageInput.click()">
                    <span class="montserrat-medium" style="font-size: 12px;">ADD IMAGE</span>
                    <input #imageInput type="file" accept="image/*" (change)="processFile(imageInput)"
                        style="display:none;" />
                </button>
            </div>
            <div>
                <img [src]="selectedFileSrc" *ngIf="selectedFile" class="img-preview" />
            </div>
            <div style="margin-bottom: 20px; text-align: center; margin-top: 20px;">
                <button class="btn-manage montserrat-medium" type="submit" [disabled]="!addCategoryForm.valid || !selectedFile">
                    ADD PRODUCT
                </button>
            </div>
        </form>

    </div>
</div>