<div class="container">
    <div class="row" style="margin-top: 50px;">
        <div class="col-sm-4">
            <div class="contact-phone">
                <h4>CUSTOMER SERVICE</h4>
                <img src="../../assets/phone.png" style="width: 20px; height: 20px;" />
                <a style="margin-inline-start: 5px;">+381 64 495 5615</a>
                <p>Monday to Friday</p>
                <p>09am - 05pm (Belgrade time)</p>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="contact-form">
                <h2>Have a question about a product, our company or just want to chat?<br> Call us!</h2>
                <p>We will be glad to assist you in any question and encourage you to share your ideas and improvements
                    <br>with us.</p>
                <img src="../../assets/contact-us.jpeg" width="600px" height="350px" style="margin-top: 20px;">
            </div>
        </div>
    </div>