<div class="container">
    <div class="row" style="margin-top: 50px;">
        <div class="col-sm-4">
            <div class="contact-phone">
                <p class="montserrat-bold" style="font-size: 20px;">CUSTOMER SERVICE</p>
                <img src="../../assets/phone.png" style="width: 20px; height: 20px;" />
                <a style="margin-inline-start: 5px;" class="montserrat-regular">+381 64 495 5615</a>
                <p class="montserrat-regular">Monday to Friday</p>
                <p class="montserrat-regular">09am - 05pm (Belgrade time)</p>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="contact-form">
                <p class="montserrat-bold" style="font-size: 20px;">Have a question about a product, our company or just want to chat?<br> Call us!</p>
                <p class="montserrat-regular" style="font-size: 18px;">We will be glad to assist you in any question and encourage you to share your ideas and improvements
                    with us.</p>
                <img src="../../assets/contact-us.jpeg" width="600px" height="350px" style="margin-top: 20px;">
            </div>
        </div>
    </div>