<div class="container-fluid">
    <div class="row">
        <ngb-carousel [interval]="false">
            <ng-template ngbSlide>
                <img src="../assets/bread.jpg">
                <div class="carousel-caption">
                    <h3>Fresh from the oven</h3>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img src="../assets/strawberry.jpg">
                <div class="carousel-caption">
                    <h3>Healthy groceries</h3>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img src="../assets/pens.jpg">
                <div class="carousel-caption">
                    <h3>Everything for your kids</h3>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</div>
