<div class="container-fluid">
    <div class="row">
        <ngb-carousel [interval]="false">
            <ng-template ngbSlide>
                <img src="../assets/bread.jpg">
                <div class="carousel-caption d-flex h-100 align-items-center justify-content-center">
                    <div>
                        <p class="carousel-caption-paragraph">FRESH FROM</p>
                        <p class="carousel-caption-paragraph" style="margin-top: 30px; margin-inline-start: 0; text-align: left;">THE OVEN
                        </p>
                    </div>

                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img src="../assets/strawberry.jpg">
                <div class="carousel-caption d-flex h-100 align-items-center justify-content-center">
                    <div>
                        <p class="carousel-caption-paragraph" style="text-align: left;">HEALTHY</p>
                        <p class="carousel-caption-paragraph" style="margin-top: 30px; margin-inline-start: 0;">
                            GROCERIES</p>
                    </div>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img src="../assets/pens.jpg">
                <div class="carousel-caption d-flex h-100 align-items-center justify-content-center">
                    <div>
                        <p class="carousel-caption-paragraph">EVERYTHING FOR</p>
                        <p class="carousel-caption-paragraph" style="margin-top: 30px; margin-inline-start: 0; text-align: left;">YOUR
                            KIDS</p>
                    </div>

                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</div>