<table mat-table #table [dataSource]="dataSource" class="mat-elevation-z8" style="margin-top: 20px;">

    <ng-container matColumnDef="supplierName">
        <th mat-header-cell *matHeaderCellDef class="montserrat-medium">Name </th>
        <td mat-cell *matCellDef="let element" class="montserrat-medium"> {{element.supplierName}} </td>
    </ng-container>

    <ng-container matColumnDef="supplierLastname">
        <th mat-header-cell *matHeaderCellDef class="montserrat-medium"> Lastname </th>
        <td mat-cell *matCellDef="let element" class="montserrat-medium"> {{element.supplierLastname}} </td>
    </ng-container>

    <ng-container matColumnDef="supplierContact">
        <th mat-header-cell *matHeaderCellDef class="montserrat-medium"> Contact </th>
        <td mat-cell *matCellDef="let element" class="montserrat-medium"> {{element.contact}} </td>
    </ng-container>

    <ng-container matColumnDef="edit" *ngIf="isAdminLoggedIn">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" (click)="onEditSupplierClicked(element.id)"><img src="../../assets/pencil.png"
                style="width: 20px; height: 20px; margin-bottom: 2px; cursor: pointer;" /></td>
    </ng-container>

    <ng-container matColumnDef="delete" *ngIf="isAdminLoggedIn">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" (click)="onDeleteSupplierClicked(element.id)"><img src="../../assets/bin.png"
                style="width: 20px; height: 20px; margin-bottom: 2px; cursor: pointer;" /></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div class="row wrapper" style="margin-right: 0; margin-top: 30px;" *ngIf="isAdminLoggedIn">
    <button class="btn-manage montserrat-medium" (click)="onAddNewSupplier()">ADD NEW SUPPLIER</button>
</div>