<table mat-table #table [dataSource]="dataSource" class="mat-elevation-z8" style="margin-top: 20px;">

    <ng-container matColumnDef="supplierName">
        <th mat-header-cell *matHeaderCellDef>Name </th>
        <td mat-cell *matCellDef="let element"> {{element.supplierName}} </td>
    </ng-container>

    <ng-container matColumnDef="supplierLastname">
        <th mat-header-cell *matHeaderCellDef> Lastname </th>
        <td mat-cell *matCellDef="let element"> {{element.supplierLastname}} </td>
    </ng-container>

    <ng-container matColumnDef="supplierContact">
        <th mat-header-cell *matHeaderCellDef> Contact </th>
        <td mat-cell *matCellDef="let element"> {{element.supplierLastname}} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"><img src="../../assets/pencil.png"
                style="width: 20px; height: 20px; margin-bottom: 2px; cursor: pointer;" /></td>
    </ng-container>

    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"><img src="../../assets/bin.png"
                style="width: 20px; height: 20px; margin-bottom: 2px; cursor: pointer;" /></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div class="row wrapper" style="margin-right: 0; margin-top: 30px;">
    <button class="btn-add" (click)="onAddNewSupplier()">Add new supplier</button>
</div>