<table mat-table #table [dataSource]="dataSource" class="mat-elevation-z8" style="margin-top: 20px;">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="montserrat-medium">No. </th>
        <td mat-cell *matCellDef="let element" class="montserrat-medium"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="producerName">
        <th mat-header-cell *matHeaderCellDef class="montserrat-medium">Name </th>
        <td mat-cell *matCellDef="let element" class="montserrat-medium"> {{element.producerName}} </td>
    </ng-container>

    <ng-container matColumnDef="producerContact">
        <th mat-header-cell *matHeaderCellDef class="montserrat-medium"> Contact </th>
        <td mat-cell *matCellDef="let element" class="montserrat-medium"> {{element.producerContact}} </td>
    </ng-container>

    <ng-container matColumnDef="edit" *ngIf="isAdminLoggedIn">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" (click)="onEditProducerClicked(element.id)"><img src="../../assets/pencil.png"
                style="width: 20px; height: 20px; margin-bottom: 2px; cursor: pointer;" /></td>
    </ng-container>

    <ng-container matColumnDef="delete" *ngIf="isAdminLoggedIn">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" (click)="onDeleteProducerClicked(element.id)"><img src="../../assets/bin.png"
                style="width: 20px; height: 20px; margin-bottom: 2px; cursor: pointer;" /></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div class="row wrapper" style="margin-right: 0; margin-top: 30px;" *ngIf="isAdminLoggedIn">
    <button class="btn-manage montserrat-medium" (click)="onAddNewProducer()">ADD NEW PRODUCER</button>
</div>