<div class="row" style="margin-right: 0; margin-top: 20px;">
    <div class="col" style="text-align: center;">
        <p *ngIf="!emptyList" class="montserrat-medium" style="font-size: 20px;">Cart</p>
        <p *ngIf="emptyList" class="montserrat-medium" style="font-size: 20px;">Cart is empty</p>
    </div>
</div>
<div class="row justify-content-center" style="margin-right: 0;" *ngIf="!emptyList">
    <div class="col-12 col-lg-7">
        <table style="margin-inline-start: 20px;">
            <tbody>
                <tr>
                    <app-cart-item *ngFor="let item of cartItems" [cartItem]="item" (onDeleteCartItem)="onCartItemDeleted()" (onUpdateAmount) = "onUpdateAmount()" style="width: 100%;">
                    </app-cart-item>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-12 col-lg-2">
        <div class="cart-sum">
            <p class="montserrat-medium">Total {{numOfItems}} items</p>
            <hr>
            <p class="montserrat-medium">Total price: <span class="money">{{totalPrice}} RSD</span></p>
            <p style="margin-top: 20px;">
                <button class="btn-manage montserrat-medium" (click)="openDialog()">PROCEED TO CHECKOUT</button>
            </p>
        </div>
    </div>
</div>