<div class="card mb-4 box-shadow" style='text-align:center;width: 18rem; cursor: pointer;'>
    <img class="card-img-top" [src]="image" height="100%" style="margin-top: 10px;">
    <img src="../../../assets/heart_fill_red.png" *ngIf="isAddedToFavourites && isCustomerLoggedIn" style="width: 25px; height: 25px;"
        class="img-heart" (click)="removeFromFavourites()">
    <img src="../../../assets/heart_empty_black_border.png" *ngIf="!isAddedToFavourites && isCustomerLoggedIn"
        style="width: 25px; height: 25px;" class="img-heart" (click)="addToFavourites(productItem.barCode)">

    <div class="card-body">
        <p class="card-text" style="height: 1rem;"><strong>{{productItem.productName}}</strong></p>
        <p class="card-text">{{productItem.productPrice + ",00 RSD"}}</p>
        <div class="row justify-content-center" style="text-align: center;">
            <button type="button" class="btn btn-md btn-outline-secondary" style="width: 8em;"
                (click)="onViewDetailsClicked(productItem.barCode)">
                View details
            </button>
            <button type="button" *ngIf="!isAddedToCart && isCustomerLoggedIn" class="btn btn-md button1 buttonH btn-outline-secondary" (click)="openDialog()" style="width: 8em;">
                Add to cart
            </button>
        </div>
    </div>
</div>