<div class="row" style="margin-right: 0; margin-top: 20px;">
  <div class="col" style="text-align: center;">
      <h1>Categories</h1>
  </div>
</div>

<div class="mat-accordian-tabela">
  <mat-accordion displayMode="flat" multi class="mat-table tabela headers-align">
    <mat-expansion-panel (opened)="openedCategory(category.id)" *ngFor="let category of categories">
      <mat-expansion-panel-header>
        <mat-panel-title>{{category.id}}</mat-panel-title>
        <mat-panel-title>{{category.categoryName}}</mat-panel-title>
        <mat-panel-title>
          <button (click)="onClickStopPropagation($event)" mat-button [matMenuTriggerFor]="menu" class="full-height">
            <mat-icon>more_horiz</mat-icon>
          </button>
          <mat-menu #menu="matMenu" class="full-height">
            <div id="menu-div" class="full-height">
              <button mat-raised-button class="btn btn-success"
                (click)="onEditCategory(category.id)">{{'EDIT' }}</button>
              <button mat-raised-button color="warn" (click)="onDeleteCategory(category.id)">{{'DELETE'}}</button>
            </div>
          </mat-menu>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <table mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No.</th>
          <td mat-cell *matCellDef="let subcategory"> {{subcategory.id}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name</th>
          <td mat-cell *matCellDef="let subcategory"> {{subcategory.name}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="row" style="margin-right: 0;">
  <div class="col" style="text-align: center;">
    <button class="btn-manage" (click)="onAddNewCategory()">Add new category</button>
  </div>
</div>