<div class="row" style="margin-right: 0; margin-top: 20px;">
  <div class="col" style="text-align: center;">
    <p class="montserrat-medium" style="font-size: 20px;">Categories</p>
  </div>
</div>

<div class="mat-accordian-tabela">
  <mat-accordion displayMode="flat" multi class="mat-table tabela headers-align">
    <mat-expansion-panel (opened)="openedCategory(category.id)" *ngFor="let category of categories">
      <mat-expansion-panel-header>
        <mat-panel-title class="montserrat-medium">{{category.id}}</mat-panel-title>
        <mat-panel-title class="montserrat-medium">{{category.categoryName}}</mat-panel-title>
        <mat-panel-title>
          <button (click)="onClickStopPropagation($event)" mat-button [matMenuTriggerFor]="menu" class="full-height">
            <mat-icon>more_horiz</mat-icon>
          </button>
          <mat-menu #menu="matMenu" class="full-height">
            <div id="menu-div" class="full-height">
              <button mat-raised-button class="btn btn-success montserrat-medium"
                (click)="onEditCategory(category.id)">{{'EDIT' }}</button>
              <button class="montserrat-medium" mat-raised-button color="warn" (click)="onDeleteCategory(category.id)">{{'DELETE'}}</button>
            </div>
          </mat-menu>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <table mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef class="montserrat-medium"> No.</th>
          <td mat-cell *matCellDef="let subcategory" class="montserrat-medium"> {{subcategory.id}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="montserrat-medium"> Name</th>
          <td mat-cell *matCellDef="let subcategory" class="montserrat-medium"> {{subcategory.name}}</td>
        </ng-container>

        <ng-container matColumnDef="menu">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let subcategory">
            <button (click)="onClickStopPropagation($event)" mat-button [matMenuTriggerFor]="menu" class="full-height">
              <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu" class="full-height">
              <div id="menu-div" class="full-height">
                <button mat-raised-button class="btn btn-success montserrat-medium"
                  (click)="onEditSubcategory(subcategory.id)">{{'EDIT' }}</button>
                <button class="montserrat-medium" mat-raised-button color="warn" (click)="onDeleteSubcategory(subcategory.id)">{{'DELETE'}}</button>
              </div>
            </mat-menu>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div class="row" style="margin-right: 0;">
        <div class="col" style="text-align: center;">
          <button class="btn-manage montserrat-medium" (click)="onAddNewSubcategory()">ADD NEW SUBCATEGORY</button>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="row" style="margin-right: 0;">
  <div class="col" style="text-align: center;">
    <button class="btn-manage montserrat-medium" (click)="onAddNewCategory()">ADD NEW CATEGORY</button>
  </div>
</div>