<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 details-container">
            <img [src]="image" class="image-details" style="margin-top: 10px;">
        </div>
        <div class="col-md-3" style="margin-top: 50px;">
            <p class="montserrat-medium" style="font-size: 20px;">{{product?.productName}}</p>
            <hr>
            <div>
                <p class="montserrat-bold" style="font-size: 20px;">{{product?.productPrice}} RSD</p>
            </div>
            <div style="margin-top: 20px;">
                <p class="montserrat-bold heading" style="font-size: 20px;">Product bar code:</p>
                <p class="data montserrat-regular" style="font-size: 20px;">{{product?.barCode}}</p>
            </div>
            <div style="margin-top: 20px;">
                <p class="montserrat-bold heading" style="font-size: 20px; margin-top: 10px;">Product producer:</p>
                <p class="data montserrat-regular" style="font-size: 20px;">{{product?.producerDto?.producerName}}</p>
            </div>
            <div style="margin-top: 20px;">
                <p class="montserrat-bold heading" style="font-size: 20px;">Description:</p>
                <p class="data montserrat-regular" style="font-size: 20px;">{{product?.productDescription}}</p>
            </div>
            <div class="dropdown" style="margin-bottom: 70px; margin-top: 20px;" *ngIf="isAdminLoggedIn">
                <button type="button" class="btn-manage dropdown-toggle montserrat-medium" data-toggle="dropdown" id="dropdownMenuButton" >
                    MANAGE <span class="caret"></span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a style="cursor: pointer;" class="dropdown-item montserrat-medium" (click)="onEditProductClicked(product.barCode)">EDIT PRODUCT</a>
                    <a style="cursor: pointer;" class="dropdown-item montserrat-medium" (click)="openDialog()">DELETE PRODUCT</a>
                </div>
            </div>
        </div>
    </div>
</div>