<div class="row wrapper" style="margin-right: 0; margin-top: 20px;">
    <div class="col-xs-12">
        <form #supplierForm="ngForm" (ngSubmit)="onSubmit(supplierForm)">
            <div class="form-group montserrat-medium">
                <label for="name">First Name</label>
                <input id="name" class="form-control" ngModel name="name" required />
            </div>
            <div class="form-group montserrat-medium">
                <label for="lastName">Last Name</label>
                <input id="lastName" class="form-control" ngModel name="lastName" required />
            </div>
            <div class="form-group montserrat-medium">
                <label for="contact">Contact</label>
                <input id="contact" class="form-control" ngModel name="contact" required />
            </div>
            <div style="margin-bottom: 20px; text-align: center;">
                <button class="btn-manage montserrat-medium" type="submit" [disabled]="!supplierForm.valid">
                    ADD SUPPLIER
                </button>
            </div>
        </form>

    </div>
</div>