<div class="row" style="margin-right: 0; margin-top: 20px;">
    <div class="col" style="text-align: center;">
        <p *ngIf="!emptyList" class="montserrat-medium" style="font-size: 20px;">Favourite products</p>
        <p *ngIf="emptyList" class="montserrat-medium" style="font-size: 20px;">Favourite products is empty</p>
    </div>
</div>
<div class="row justify-content-center" style="margin-right: 0;" *ngIf="!emptyList" >
    <div class="col-md-6">
        <app-favourite-product-item *ngFor="let product of listOfFavouriteProducts" [favouriteProductItem]="product">
        </app-favourite-product-item>
    </div>
</div>