/* You can add global styles to this file, and also import other style files */
.navbar-default {
    background-color: #b9cced;
    border-color: #E7E7E7;
    padding: 10px;
}

.navbar-default .navbar-brand {
    color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
}

.card {
    display:inline-block;
    margin-inline-start: 30px;
    padding: 5px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.btn-add {
    background-color: #b9cced;
    color: white;
    padding: 15px;
    border: 0px;
    border-radius: 30px;
}

.btn-manage {
    background-color: #b9cced;
    color: white;
    padding: 10px;
    border: 0px;
    border-radius: 2px;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.img-preview {
    width: 250px;
    height: 200px;
    object-fit: contain;
}

.btn-delete {
    background-color: red;
    color: white;
    padding: 10px;
    border: 0px;
    border-radius: 2px;
}

@font-face {
    font-family: 'montserrat-bold';
    src: url(assets/fonts/Montserrat-Bold.ttf)
}

.montserrat-bold {
    font-family: montserrat-bold;
}

@font-face {
    font-family: 'montserrat-medium';
    src: url(assets/fonts/Montserrat-Medium.ttf)
}

.montserrat-medium {
    font-family: montserrat-medium;
}

@font-face {
    font-family: 'montserrat-regular';
    src: url(assets/fonts/Montserrat-Regular.ttf)
}

.montserrat-regular {
    font-family: montserrat-regular;
}